/* ==========================================================================
   Base
   ========================================================================== */

body { 
font-size:15px;
line-height:22px;	
}

.container-fluid {
	max-width: 1170px;
	margin:0px auto;
}

@font-face {
    font-family: 'gunslingerregular';
    src: url('gunslingerdemo-kcfonts-webfont.eot');
    src: url('gunslingerdemo-kcfonts-webfont.eot?#iefix') format('embedded-opentype'),
         url('gunslingerdemo-kcfonts-webfont.woff') format('woff'),
         url('gunslingerdemo-kcfonts-webfont.ttf') format('truetype'),
         url('gunslingerdemo-kcfonts-webfont.svg#gunslingerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* =============================================================================
   Header
   ========================================================================== */

.banner { 
background: transparent url(/assets/img/canvas.jpg) top center scroll repeat;
}


.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
background-color: #362619;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
-moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
box-shadow: 0 0px 0px rgba(0,0,0,0);
border-width:0px;
background:none;
}

.navbar-inner {
height: 0px;
padding-bottom: 5%;
}

.navbar .nav>li>a {
float: none;
color: #0b3430;
text-decoration: none;
text-shadow: 0 0px 0 #000;
font-size: 18px;
text-transform: uppercase;
padding: 70px 43px 20px 43px;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
background-color: transparent;
-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
box-shadow: inset 0 0px 0px rgba(0,0,0,0);
}

.navbar .menu-about-us {
margin-left:255px;
}

.navbar .menu-facebook a, .navbar .menu-twitter a {
display: block;
width: 32px;
overflow: hidden;
padding: 15px 0px 13px 0px!important;
margin-right: 5px;
text-indent: -99999px;
background: transparent url(/assets/img/socials.png);
height: 0px;
margin-top: 60px;
}

.navbar .menu-facebook a {
background-position: 0px 0px;
}

.navbar .menu-twitter a {
background-position: 31px 0px;
}

.navbar .brand {
position: absolute;
top: 50px;
left: 50%;
margin-left: -65px;
background: transparent url(/assets/img/logo.png) top center scroll no-repeat;
height: auto;
width: 0px;
text-indent: -9999px;
overflow: hidden;
z-index: 99999;
padding: 3% 5% 6% 5%;
background-size: 100%;
}

.banner-top {
	background: transparent url(/assets/img/headerBack.jpg) top center scroll no-repeat;
	background-size: 100%;
	height:0px;
	padding-bottom: 7.5%;
}

.banner-top {
padding-bottom: 5.5%;
}

body.home .banner-top {padding-bottom: 38.5%;}

.banner-top h2 {display:none!important;}

body.home .banner-top h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 200;
    display: block!important;
    width: 60%;
    margin: 0px 20%;
    text-align: center;
    padding-top: 29%;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content p {font-family: "Times New Roman", Times, serif; font-size: 16px; }

a {color:#0b3430;}

h1 {
color: #0b3430;
text-transform:uppercase;
text-align:center;
display: block;
font-size: 40px;
margin: 50px 0px;
}

body.single .entry-title {
text-transform:none;	
}

h2, h2 a {
color: #0b3430;
font-size: 24px;
}

h3 {
font-size: 20px;
font-weight: 300;
text-align: left;
line-height: 22px;
margin-top: -5px;
}


.featured-books h3, 
body.book h3 {text-align: center;}

body.home h1,
body.about-us h1 {
background: transparent url(/assets/img/hr.png) center 10px scroll no-repeat;
}

img.alignleft {
padding: 15px 15px 15px 0px;	
}

img.alignright {
padding: 15px 0px 15px 15px;	
}

/* ====== Homepage =========================== */
.book-image, .author-image {
width:100%;
}

.featured-books .wpcf-field-book-cover,
.coming-soon .wpcf-field-book-cover {
border: 1px solid #b3b3b3;
border-radius: 4px;
padding: 5px;
width: 90%;
height: auto;
display:block;
}

/* .wpcf-field-author-image-value {
max-height: 370px;
overflow:hidden;
} */

.wpcf-field-author-image {
border: 1px solid #b3b3b3;
border-radius: 4px;
padding: 5px;	
display:block;
}


.book-header {
height: 165px;
display: block;
border-bottom: 1px solid #e0d8ce;
margin-bottom: 25px;
position: relative;
}

.book-title a {
font-size: 24px;
line-height: 26px;
text-align: center;
color: #362619;
display:block;
}

cite {
text-align: left;
display: block;
font-size: 18px;
font-style: italic;
margin-bottom: 40px;
}

.featured-books cite {
text-align: center;
position: absolute;
top: 130px;
display: block;
width: 100%;
}

cite, cite a {
color: #0b3430;
}

.more, 
.featured-post .content a,
.blog-post p a,
.buy-now {
font-family: "gunslingerregular";
display: block;
width: auto;
text-align: center;
height: auto;
padding: 15px 15px 15px 15px;
background: transparent url(/assets/img/btn.jpg) top center scroll repeat;
color: #fff;
margin-top: 25px;
font-weight: 600;
font-size: 22px;
}

.more:hover,
.buy-now:hover {
text-decoration:none;
color: #fff;
}

.featured-post cite {
text-align: left;
margin-bottom: 10px;
}

.featured-post p {
columns:2;
-webkit-columns:2;
-moz-columns:2;
}

.featured-blog {
background: transparent url(/assets/img/featured-back.jpg) top center scroll repeat-x;
height: 330px;
padding-bottom: 3%;
padding-top: 3%;
margin-top: 100px;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* ====== Blog Archive =========================== */

.blog-post {
margin-bottom:35px;
padding-bottom: 35px;
border-bottom: 1px solid #eee;
}

.addthis_toolbox {margin: 15px 0px;}

.blog-post h2,
.blog-post h2 a {
margin-bottom:0px;
}

/* ====== Author Archive / Book Archive =========================== */

.author-row, .book-row {
margin-bottom: 50px;
border-bottom: 1px solid #dcdacd;
padding-bottom: 50px;
}

body.books h1, body.authors h1 {
padding-bottom: 30px;
margin: 70px 0 50px;
border-bottom: 1px solid #eee;
background: transparent url(/assets/img/hr.png) center 10px scroll no-repeat;
}

body.books .page-header,
body.authors .page-header {display:none;}

body.books .span2 .book-image {
border: 0px solid #b3b3b3;
border-radius: 0px;
padding: 0px;
max-height: none;
overflow: hidden;
width: 100%;
height: auto;
}

body.books .span2 .wpcf-field-book-cover {
border: 1px solid #b3b3b3;
border-radius: 4px;
padding: 5px;
background:#fff;
display:block;
}

.previous {float:left;}
.jump {
display: block;
width: 100%;
text-align: center;
}
.next {float:right;}

/* ====== Author Single / Book Single =========================== */

body.single-bt-author time,
body.single-book time,
body.single-bt-author .byline,
body.single-book .byline,
body.single-book .main header,
body.single-bt-author .main header {display:none;}



body.single-book .book-image,
body.single-bt-author .book-image {
border: 0px solid #b3b3b3;
border-radius: 0px;
padding: 0px;
max-height: none;
overflow: hidden;
width: 100%;
height: auto;
}

body.single-book .wpcf-field-book-cover,
body.single-bt-author .wpcf-field-book-cover {
border: 1px solid #b3b3b3;
border-radius: 4px;
padding: 5px;
display:block;
}

body.single-bt-author .wpcf-field-book-cover {
height: auto;
}

.book-isbn {
display: block;
margin: 30px auto;
width: 100%;
text-align: left;
font-size: 14px;
line-height: 5px;
}

body.single-book .book-subtitle {text-align: center;}

body.single-book .book-content {
padding-bottom: 50px;
border-bottom: 1px solid #dcdacd;
margin-bottom: 50px;
}

body.single-book .book-content .span8 {
columns: 1;
column-fill: auto;
-webkit-columns: 1;
-webkit-column-fill: auto;
-moz-columns: 1;
-moz-column-fill: auto;
height: auto;	
}

body.single-book .book-content .span8 p {
line-height: 20px;
margin-bottom: 25px;
}

body.single-bt-author h2 {
height: 80px;
display: block;
overflow: hidden;
}

body.single-bt-author h3 {
font-size: 16px;
font-weight: 300;
text-align: left;
line-height: 22px;
margin-top: -5px;
height: 39px;
overflow: hidden;
}

body.single-bt-author .related .row-fluid {
text-align:center;
}

body.single-bt-author .related .span3 {
float: none!important;
margin: 0px auto!important;
display:none!important;
}

body.single-book h1, body.single-bt-author h1 {
padding-bottom: 30px;
margin: 70px 0 50px;
border-bottom: 1px solid #eee;
text-transform: none;
}


body.single .more {
height: auto;
padding: 15px 0px 15px 0px;
}

body.single h1 {
margin: 50px 0px 25px 0px;
}

body.single cite {
text-align:center;
margin-bottom: 25px;
}

body.single .related-head cite {
text-align:left;
font-size: 32px;
}

body.contact input,
body.contact textarea {width:100%;}



/*========= SEARCH ===========*/

form.searchform .screen-reader-text {
float:right;
font-size:18px;
line-height:36px;
}

form.searchform #s {width:100%;}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
padding: 25px 0px 25px 0px;
margin-top: 50px;
background: transparent url(/assets/img/canvas.jpg) top center scroll repeat;
}

.content-info .widget {
width: 20%;
float: left;
color: #fff;
}

#credits {
float:right;
color: #fff;
}

#credits a {color: #362619;}

#credits ul, #credits li {
margin:0px;
list-style: none;
list-style-type: none;
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Only REALLY Large screens ----------- */
 @media only screen 
and (min-width : 1824px) {

}



/* Newer Desktops and laptops ----------- */
 @media only screen 
and (min-width : 1281px) {

.book-container {
height: 0px;
padding-bottom: 150%;
}

}



/* Older Desktops and laptops only ----------- */
 @media only screen 
and (min-width: 980px)
and (max-width : 1200px) {

.navbar .nav>li>a {
padding: 50px 20px 20px 20px;
}

.navbar .menu-facebook a, .navbar .menu-twitter a {
margin-top:40px;
}

.navbar .brand {
top: 20px;
margin-left: -85px;
padding: 5% 6% 6% 6%;
background-size: 100%;
}

.book-container {
height: 0px;
padding-bottom: 150%;
}

}



/* Tablets fix ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 979px) {

.featured-books .span4 {
width: 48.61878453038674%;
}

.featured-books .span4:last-of-type {
display:none;
}

.book-container {
height: 0px;
padding-bottom: 150%;
}	
	
}



/* Tablet  to standard 960 (devices and browsers) */
@media only screen
and (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  
body.top-navbar {
    padding-top: 0;
}

body {
overflow-x:hidden;
}

.navbar .brand {
top: 10px;
padding: 5% 8% 10% 8%;
}

.navbar-inner {
height: 0px;
padding-bottom: 20%;
}

.featured-blog {
padding-top: 5%;
margin-top: 100px;
}

.navbar .btn-navbar {
width: 100%;
position: relative;
margin: 20% auto 0px auto;
float: none;
padding: 10px 0px;
background: #0b3430;
}


.nav-collapse .nav {
float: none;
background: #0b3430;
z-index: 9999;
}

.navbar .nav>li>a {
color: #fff;
display: block;
text-align: center;
padding: 10px 0px;
}

.navbar .menu-about-us {
margin-left: 0px;
}

.menu-facebook, .menu-twitter {display: none;}

.banner-top h2 {
font-size: 18px;
}

body.home .featured-post h2 {
display: block;
max-height: 35px;
overflow: hidden;
}




}



/* Mobile (default) */
 @media only screen and (max-width: 767px) {
	 
body {padding:0px!important; background: #f6eee4;}

h1, h2, h3, cite,
h1 a, h2 a, h3 a {text-align:center;}

.featured-books cite {
text-align: center;
position: relative;
top: 0px;
display: block;
width: 100%;
}


h2 a {
font-size: 32px!important;
line-height: 36px!important;
}

.wrap,
.featured-blog,
.featured-authors {
padding: 0px 20px;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin:0px!important;}

.navbar-inner {
background: transparent url(/assets/img/headerBack.jpg) center 105% scroll no-repeat!important;
background-size: 100%!important;
padding-bottom: 20%;
padding-top: 30%;
}

.navbar .brand {
top: 10px;
padding: 8% 11% 12% 11%;
margin-left: -11%;
}

.banner-top-mobile {
background: #f6eee4;
border-bottom: 1px solid #e0d8ce;
display:none!important;
}

.banner-top-mobile h1 {
background: #f6eee4;
margin: 0px;
padding: 50px 0px 10px 0px;
text-transform: none;
font-weight: normal;
}

.banner-top-mobile h2 {
color: #574a3c;
font-weight:normal;
font-size: 26px;
text-align:center;
padding: 0px 15px;
}

.book-header {
height: auto;
border-bottom: 0px solid #e0d8ce;
margin-bottom: 15px;
}

.featured-books .wpcf-field-book-cover {
border: 1px solid #b3b3b3;
border-radius: 4px;
padding: 5px;
max-height: none;
overflow: visible;
width: 90%;
height: auto;
padding-bottom: 5px;
background: #fff;
display:block;
}

.book-image, 
.author-image,
.blog-post .blog-thumb {
width: 100%;
padding: 0px;
max-height: none;
height: auto;
max-width: 360px;
margin: 0px auto;
display:block;
}

.featured-books .span6 p,
.featured-authors .span6 p {display:none;}

.featured-blog {
background: #fff;
margin-top: 0px;
display: block;
height: auto;
text-align: left;
padding-top: 30px;
margin-bottom:20%;
}

.featured-post p {
columns: 1;
-webkit-columns: 1;
-moz-columns: 1;
}

.featured-post img {display:none;}


.more {
margin: 0px 0px 30% 0px;
}

.featured-authors cite {margin-bottom:15px;}

.featured-authors .more {
margin: 30px 0px 30% 0px;
}	 

.featured-authors a.author-image {
display: block;
border-radius: 4px;
width: 98%;
max-width: 360px;
margin: 0px auto;
}

.wpcf-field-book-cover, .featured-authors a.author-image, .blog-post .blog-thumb {
max-width: 360px;
margin: 0px auto 35px auto;
}

.wpcf-field-author-image {
border: 1px solid #b3b3b3;
border-radius: 4px;
padding: 5px;
background: #fff;
max-width: 360px;
margin: 15px auto;
}

.content-info .widget,
#credits {
width: 100%;
display: block;
float: none;
text-align: center;
margin-bottom: 25px;
}

form.searchform .screen-reader-text {
float: none;
font-size: 18px;
line-height: 36px;
width: 100%;
display: block;
text-align: center;
}

form.searchform .span3 {text-align:center;}

body.single-bt-author .wpcf-field-book-cover {
height: auto;
padding-bottom: 0px;
}

figure img {
width:100%;
}

figure wp-caption {
width:100%
}

.thumbnail {
width: 100%!important;
}


}

@media only screen and (max-width: 480px) {


.navbar .brand {
top: 50px;
padding: 28% 31% 31% 31%;
margin-left: -31%;
background: transparent url(/assets/img/logo-mobile.png) top center scroll no-repeat;
background-size: 100%;
}

.navbar-inner {
background: transparent url(/assets/img/mobile-header.jpg) top center scroll no-repeat!important;
background-size: 100%!important;
padding-bottom: 20%;
padding-top: 97%;
}

body.single-book .book-content .span8 {
columns: 1;
column-fill: auto;
-webkit-columns: 1;
-webkit-column-fill: auto;
-moz-columns: 1;
-moz-column-fill: auto;
height: auto;
}


	
}



/* =============================================================================
   Internet Explorer Fixes
   ========================================================================== */


.lt-ie9  {

}

.lt-ie8  {

}

.lt-ie7  {

}




